/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* animaciones*/
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

/* fuente */
body {
    font-family: "Roboto Flex", serif;
    background-color: #dde6ed;
}

/* header */


.bg-dark {
    background-color: #27374d !important;
        .navbar {
            padding: 15px;
            .nav-link {
                color:white !important;
            }
        }
}



/*container*/

.container mt-4{
    padding-right: 0px !important;
    padding-left: 0px !important;
    
    aside {
        width: 25%;
        background-color: #9db2bf;
    }
}

.bg-light {
    background-color: #9db2bf !important;
}
.custom-rounded {
    border-radius: 2rem;
}
li{
    margin: 0;
    color: white;
    text-decoration: none;
    list-style: none;
        .carnet{
            width: 100%; 
            max-width: 200px; 
            display: block;
            margin: 0 auto;
        }
    }


/*section*/

.col-md-8{
    .tabla1 {
        display: flex;
        flex-direction: column; /* Las filas se organizan en columna */
        gap: 10px; /* Espaciado entre filas */
        padding: 5px;
        .fila1 {
            display: flex;
            gap: 10px; /* Espaciado entre celdas */
            @media (max-width: 600px) {
                .fila1 {
                    flex-direction: column; /* En móviles, las celdas se apilan */
                }
            }
            .celda1 {
                flex: 1; /* Todas las celdas ocupan el mismo ancho */
                background-color: #9db2bf;
                border: 1px solid #9db2bf;
                color:white;
                padding: 20px;
                text-align: center;
                border-radius: 2rem; /* Bordes redondeados */
            }
        }
    }
    .tabla2 {
        display: flex;
        flex-wrap: wrap; /* Permite que las celdas se ajusten */
        gap: 10px;
        .celda2 {
            flex: 1 1 calc(50% - 10px); /* Hace que cada celda ocupe el 48% del contenedor, dejando espacio entre ellas */
            background-color: #9db2bf;
            border: 1px solid #9db2bf;
            color:white;
            padding: 20px;
            text-align: center;
            border-radius: 2rem;
            @media (max-width: 600px) {
                .celda2 {
                    flex: 1 1 100%; /* Hace que cada celda ocupe todo el ancho disponible */
                }
            }
            .imagen1{
                max-height: 180px;
                border-radius: 10px;
            }
        }
    }
}

/* Footer */
footer {
    position: relative;
    width: 100%;
}