/*container*/

.container mt-4{
    padding-right: 0px !important;
    padding-left: 0px !important;
    
aside {
    width: 25%;
    background-color: $azulMedio;
}
}

.bg-light {
    background-color: $azulMedio !important;
}
.custom-rounded {
    border-radius: 2rem;
}
li{
    margin: 0;
    color: white;
    text-decoration: none;
    list-style: none;
        .carnet{
            width: 100%; 
            max-width: 200px; 
            display: block;
            margin: 0 auto;
        }
    }


/*section*/

.col-md-8{
    .tabla1 {
        @include flex (column, 10px);
        
        padding: 5px;
        .fila1 {
            display: flex;
            gap: 10px; 
            @media (max-width: 600px) {
                .fila1 {
                    flex-direction: column; /* En móviles, las celdas se apilan */
                }
            }
            .celda1 {
                flex: 1; /* Todas las celdas ocupan el mismo ancho */
                background-color: $azulMedio;
                border: 1px solid $azulMedio;
                color:white;
                padding: 20px;
                text-align: center;
                border-radius: 2rem; /* Bordes redondeados */
            }
        }
    }
    .tabla2 {
        display: flex;
        flex-wrap: wrap; /* Permite que las celdas se ajusten */
        gap: 10px;
        .celda2 {
            @extend .celda1;
            flex: 1 1 calc(50% - 10px); /* Hace que cada celda ocupe el 48% del contenedor, dejando espacio entre ellas */
            
            @media (max-width: 600px) {
                .celda2 {
                    flex: 1 1 100%; /* Hace que cada celda ocupe todo el ancho disponible */
                }
            }
            .imagen1{
                max-height: 180px;
                border-radius: 10px;
            }
        }
    }
}