/* Reset general */

@import "variables";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* animaciones*/
:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
}

/* fuente */
body {
    display:flex;
    flex-direction: column;
    min-height: 100vh ;
    font-family: "Roboto Flex", serif;
    background-color: $azulClaro;

}
/*html, body {
    height: 100%;
    margin: 0;
}*/

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
}





