* header */


.bg-dark {
    background-color: $azulOscuro !important;
        .navbar {
            padding: 15px;
            .nav-link {
                color:white !important;
            }
        }
}

/* Footer */
footer {
    position: relative;
    width: 100%;
}