* header */


.bg-dark {
    background-color: #27374d !important;
        .navbar {
            padding: 15px;
            .nav-link {
                color:white !important;
            }
        }
}